.header {
  position: relative;
  width: 100%;
  background-color: $base-white;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.header__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
  }
}

.header__logo {
  transition: $transition;

  &:hover {
    opacity: 0.8;
  }

  & img {
    @media (min-width: $tablet-width) {
      max-width: none;
    }
  }
}

.header__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    width: 130px;
  }
}

.header__menu-button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 4px 0;
  background-color: $base-white;
  cursor: pointer;
  border: none;
  z-index: 2;
  position: relative;

  &:active {
    background-color: $base-secondary;
    color: $base-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: $base-black;
  box-shadow: 0 6px 0 0 $base-black, 0 12px 0 0 $base-black;
}

.header__menu-button--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
