.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  background-color: $base-white;
  color: $base-black;
  height: 100%;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 160%;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
